{% load static %}
{% block script %}
<script type="application/json" id="drf_csrf">
    const REST = {
    "csrfHeaderName": "{{ csrf_header_name|default:'X-CSRFToken' }}",
    "csrfToken": "{% if request %}{{ csrf_token }}{% endif %}"
    };
</script>
<script src="{% static "rest_framework/js/jquery-3.7.1.min.js" %}"></script>
<script src="{% static "rest_framework/js/ajax-form.js" %}"></script>
<script src="{% static "rest_framework/js/csrf.js" %}"></script>
<script src="{% static "rest_framework/js/bootstrap.min.js" %}"></script>
<script src="{% static "rest_framework/js/prettify-min.js" %}"></script>
<script src="{% static "rest_framework/js/default.js" %}"></script>
<script src="{% static "rest_framework/js/load-ajax-form.js" %}"></script>
  {% endblock %}