{% load static %}
{% load interface %}
{% load rest_framework %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UI | WQDMS</title>
  {% block style %}
    {% block bootstrap_theme %}
    <link rel="stylesheet" type="text/css" href="{% static 'rest_framework/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'rest_framework/css/bootstrap-tweaks.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'rest_framework/css/prettify.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'rest_framework/css/default.css' %}"/>
    {% endblock bootstrap_theme %}
  {% endblock style %}
  {% if code_style %}<style>{{ code_style }}</style>{% endif %}
  {% block css %}
  {% if response.data.css %}
  <link type="text/css" rel="stylesheet" href="{% static response.data.css %}">
  {% else %}
  <link type="text/css" rel="stylesheet" href="{% static 'ui/assets/index.css' %}">
  {% endif %}
  {% endblock css %}
  {% block head %}
  {% endblock head %}
</head>
<body>
  {% block script %}
    {% include 'ui/app/components/rest_framework_scripts.html' %}
  {% endblock script %}
  {% block body %}
    {% autoescape off %}
      {% if response.data.layout %}
        {% if response.data.is_raw_template %}
          {{ response.data.layout }}
      {% else %}
        {% include response.data.layout %}
      {% endif %}
    {% endif %}
  {% endautoescape %}
  {% endblock body %}
  </body>
</html>