{% load static %}
{% load interface %}
{% load rest_framework %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block title %}
        <title>WQDMS</title>
        {% endblock title %}
        {% block head %}
        {% endblock head %}
        {% block css %}
        {% endblock css %}
        {% block style %}
        {% endblock style %}
        {% block source %}
        {% endblock source %}
    </head>
    <body>
        {% block map %}
        {% endblock map %}
        {% block body %}
        {% endblock body %}
        {% block script %}
        {% endblock script %}
    </body>
</html>