{% extends 'ui/app/templates/basic.html' %}
{% load static %}
{% load interface %}
{% load rest_framework %}
{% block body %}
{% autoescape off %}
{% if response.data.is_vue_app %}
<script type="module" src="{% static 'ui/assets/axios.min.js' %}"></script>
<script type="importmap">
  {
    "imports": {
      "vue": "{% static 'ui/assets/vue.esm-browser.js' %}",
      "dexie": "{% static 'ui/assets/dexie.mjs' %}"
    }
  }
</script>
<div id="app"></div>
<script type="module">
  {% if response.data.vueApp %}
  {% include response.data.vueApp %}
  {% endif %}
</script>
{% endif %}
{% endautoescape %}
{% endblock body %}

