html{
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    width: 100%;
}
body{
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;
    text-align: left;
    color: white;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
a{
    text-decoration: none;
    color: white;
}
.url-table{
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.interface-nav-table{
    width: 100%;
}
.red{
    color: rgb(187, 105, 105);
}

.list-item{
    padding-bottom: 32px;
    margin-bottom: 32px;
}
.action-btn{
    margin-right: 12px;
}
.action-group{
    display: inline-block;
}
.option-select{
    display: inline-block;
    margin-right: 12px;
}
.operation-info{
    font-size: small;
    border: solid 2px;
    margin-bottom: 6px;
    padding: 6px;
    border-radius: 12px;
}
.operation-result{
    font-size: small;
    border: solid 2px;
    padding: 6px;
    border-radius: 12px;
}
.operation-card{
    margin-bottom: 32px;
}

.mr{
    margin-right: 12px;
}

.mb{
    margin-bottom: 24px;
}
.ml{
    margin-left: 24px;
}
.meta-info{
    text-align: left;
}
.cell{
    padding: 12px;
    margin: 12px;
}
.inline{
    display: inline-block;
}
.card-a{
    margin: 12px;
    margin-left: 0px;
    margin-right: 24px;
    padding: 12px;
    padding-bottom: 24px;
    border: 4px;
    border-color: aliceblue;
    border: solid;
}
