<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- {{ head }} -->
    <title>WQDMS</title>
    <script type="module" crossorigin src="/static/vueapp/assets/index.js"></script>
    <link rel="stylesheet" crossorigin href="/static/vueapp/assets/index.css">
  </head>
  <body>
    <script>
      const csrf = {
          "headerName": null,
          "token": null
      }
      const response = { "data": {"is_vue_app":true}, "user":{"is_authenticated":false},"host":"" };
    </script>
    <div id="app"></div>
    <!-- {{ script }} -->
  </body>
</html>
